@page "/"
@using BlazorClientApp.Models

<div class="form-group">
    <a href="supplier/create" class="btn btn-info">New Supplier</a>
</div>

<SfGrid TValue="Supplier"
        ID="Grid"
        AllowPaging="true"
        AllowSorting="true"
        AllowFiltering="false"
        AllowGrouping="true"
        Toolbar="@(new List<string>() { "Add", "Edit", "Delete", "Update", "Cancel" })"
        Height="315">
    <SfDataManager Url="http://localhost:7070/odata/suppliers"
                   Adaptor="Adaptors.ODataV4Adaptor"></SfDataManager>
    <GridPageSettings PageSize="5"></GridPageSettings>
    <GridEditSettings AllowAdding="true" AllowEditing="true" AllowDeleting="true" Mode="EditMode.Dialog"></GridEditSettings>
    <GridColumns>
        <GridColumn Field="@nameof(Supplier.SupplierID)"
                    HeaderText="Supplier ID"
                    IsPrimaryKey="true"
                    ValidationRules="@(new ValidationRules { Required=true})"
                    TextAlign="TextAlign.Right"
                    Width="120"></GridColumn>
        <GridColumn Field="@nameof(Supplier.CompanyName)"
                    HeaderText="Company Name"
                    TextAlign="TextAlign.Right"
                    Width="120">
        </GridColumn>
        <GridColumn Field="@nameof(Supplier.ContactName)"
                    HeaderText="Contact Name"
                    TextAlign="TextAlign.Right"
                    Width="150">
        </GridColumn>
        <GridColumn Field="@nameof(Supplier.ContactTitle)"
                    HeaderText="Contact Title"
                    TextAlign="TextAlign.Right"
                    Width="130">
        </GridColumn>
        <GridColumn Field="@nameof(Supplier.Address)"
                    HeaderText="Address"
                    TextAlign="TextAlign.Right"
                    Width="130">
        </GridColumn>
        <GridColumn Field="@nameof(Supplier.PostalCode)"
                    HeaderText="Postal Code"
                    TextAlign="TextAlign.Right"
                    Width="130">
        </GridColumn>
        <GridColumn Field="@nameof(Supplier.Phone)"
                    HeaderText="Phone Number"
                    TextAlign="TextAlign.Right"
                    Width="130">
        </GridColumn>
        <GridColumn HeaderText="Manage Records" Width="150">
            <GridCommandColumns>
                <GridCommandColumn ButtonOption="@(new CommandButtonOptions() { Content = "Details", CssClass = "e-flat" })"></GridCommandColumn>
            </GridCommandColumns>
        </GridColumn>
    </GridColumns>

</SfGrid>

@code{
   
}